<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X] %c{1} - %msg%n" />
		</Console>
		<!-- Rolling File Appender -->
		<RollingFile name="rollingFile" fileName="/home/i-exceed.com/balachandra.r/Downloads/docs/logs/bulk_test.log"
			filePattern="/home/i-exceed.com/balachandra.r/Downloads/docs/logs/bulk_test.%d{dd-MMM}.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%X] %c{1} - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="10 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>

	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
			<AppenderRef ref="rollingFile" />
		</Root>
	</Loggers>
</Configuration>
